<div class="clr-row clr-justify-content-center">

  <div class="clr-col-sm-12 clr-col-md-8">
      <h2>
        Why does this website exist?
      </h2>
      <p>
      This web application is a product of SE195's Senior Poject class for FY 2018-2019. It is a requirement for graduating seniors majoring in Software Engineering at San Jose State University.
      It's intents and purposes suit earthquake enthusaists, seismologists, geotech engineers, environmentalists, and citizens who may be affected by earthquakes in the Bay Area.
      </p>
  </div>

  <div class="clr-break-row">
    </div>

  <div class="clr-col-sm-12 clr-col-md-8">
 
    <h3>Meet the Developers</h3>

  </div>

  <div class="clr-break-row">
    </div>

  <div class="clr-col-md-2">
    <div class="card">
          <div class="card-img">
              <img src="../../assets/Patrick_Garcia.jpg" alt="..." />
          </div>
          <div class="card-block">
              <p class="card-text">
                  Project Manager: 
                  <br>
                  Patrick Garcia
              </p>
          </div>
        </div> 
  </div>
  <div class="clr-col-md-2 col-sm-2">
    <div class="card">
          <div class="card-img">
              <img src="../../assets/Robert_Campbell.jpg" alt="..." />
          </div>
          <div class="card-block">
              <p class="card-text">
                  Machine Learning Lead: 
                  <br>
                  Robert Campbell
              </p>
          </div>
        </div> 
  </div>
  <div class="clr-col-md-2 col-sm-2">
    <div class="card">
          <div class="card-img">
              <img src="../../assets/Vivian_Leung.jpg" alt="..." />
          </div>
          <div class="card-block">
              <p class="card-text">
                  Web App Lead: 
                  <br>
                  Vivian Leung
              </p>
          </div>
        </div> 
  </div>
  <div class="clr-col-md-2 col-sm-2">
      <div class="card">
          <div class="card-img">
              <img src="../../assets/Tai_Dao.jpg" alt="..." />
          </div>
          <div class="card-block">
              <p class="card-text">
                Product Owner: 
                <br>
                Tai Dao
              </p>
          </div>
        </div> 
  </div>

  <div class="clr-break-row">
  </div>
   
  <div class="clr-col-sm-12 clr-col-md-8">
    <h3>
      How was this created?
      <br>
      <br>
    </h3>
  </div>

  <div class="clr-break-row">
  </div>
  <br>

  <div class="clr-col-sm-12 clr-col-md-1">
    <img src="../../assets/logos/angular-icon.svg" title="Angular" height="100px">
  </div>
  <div class="clr-col-sm-12 clr-col-md-1">
      <img src="../../assets/logos/nodejs-icon.svg" title="Node.js" height="100px">
  </div>
  <div class="clr-col-sm-12 clr-col-md-1">
      <img src="../../assets/logos/figma-1-logo-svg-vector.svg" title="Figma" height="100px">
  </div>
  <div class="clr-col-sm-12 clr-col-md-1">
      <img src="../../assets/logos/github-icon.svg" title="GitHub" height="100px">
  </div>
  <div class="clr-col-sm-12 clr-col-md-1">
      <img src="../../assets/logos/Visual_Studio_Code_1.18_icon.svg" title="Visual Studio Code" height="100px">
  </div>
  


  <div class="clr-break-row">
  </div>
  <br>

  <div class="clr-col-sm-12 clr-col-md-1">
      <img src="../../assets/logos/numpy.svg" title="numpy" height="100px">
  </div>
  <div class="clr-col-sm-12 clr-col-md-1">
      <img src="../../assets/logos/obspylogo.png" title="ObsPy" height="100px">
  </div>
  <div class="clr-col-sm-12 clr-col-md-1">
      <img src="../../assets/logos/keras.svg" title="Keras" height="100px">
  </div>
  <div class="clr-col-sm-12 clr-col-md-1">
      <img src="../../assets/logos/python.svg" title="Python" height="100px">
  </div>
  <div class="clr-col-sm-12 clr-col-md-1">
      <img src="../../assets/logos/pytorch.svg" title="PyTorch" height="100px">
  </div>
  <div class="clr-col-sm-12 clr-col-md-1">
      <img src="../../assets/logos/scikitlearn.svg" title="SciKit-Learn" height="100px">
  </div>

  <div class="clr-break-row">
    </div>
    <br>

  <div class="clr-col-sm-12 clr-col-md-2">
      <img src="../../assets/logos/aws.svg" height="100px">
  </div>
  <div class="clr-col-sm-12 clr-col-md-1">
      <img src="../../assets/logos/aws-sns.svg" title="AWS SNS" height="100px">
  </div>
  <div class="clr-col-sm-12 clr-col-md-1">
      <img src="../../assets/logos/aws-dynamodb.svg" title="AWS Dynamo DB" height="100px">
  </div>
  <div class="clr-col-sm-12 clr-col-md-1">
      <img src="../../assets/logos/aws-ec2.svg" title="AWS EC2" height="100px">
  </div>
  <div class="clr-col-sm-12 clr-col-md-1">
      <img src="../../assets/logos/aws-lambda.svg" title="AWS Lambda" height="100px">
  </div>




    
  

 


 

</div>
